<div *ngIf="memory" style="max-width: 100vw; max-height: 100vh;">
  <img *ngIf="memory.type == 'image'" class="images" [src]="memory.url"
   (touchstart)="setTouchStart($event)"
   (touchend)="setTouchEnd($event)"
   style="max-width: 100vw; max-height: 100vh;"/>
  <video *ngIf="memory.type == 'video'"
   (touchstart)="setTouchStart($event)"
   (touchend)="setTouchEnd($event)"
   controls>
    <source [src]="memory.url" type="video/mp4">
    Your browser does not support HTML video.
  </video>
</div>